body{
    width: 70%;
    margin: 0 auto;
}

header{
    background-color: red;
    padding: 15px;
    margin-top: 0px;
    color: white;
    text-align: center;
}

nav{
    margin-top: 5px;
    background-color: rgb(188, 141, 229);
    padding: 50px;
}
nav ul{
    list-style: none;
}
li{
    margin: 5px;
    padding: 5px;
    display: inline;
}
nav li a{
    text-decoration: none;
    color: rgb(74, 49, 95);
    border: solid 2px rgb(158, 106, 203);
    font-size: 50px;
}
#cuerpo{
    background-color: rgb(181, 99, 252);
    color: white;
    text-align: justify;
    padding: 10px;
    margin-top: 5px;
    height: 800px;
    overflow: auto;
}

#cuerpo img{
    width: 500px;
    height: 350px;
}
#imagen{
    border: solid 2px black;
    float: left;
    width: 40%;
    margin: 5px;
}
#imagen img{
    margin: 5px;
}
#imagen p{
    margin: 5px;
    text-align: justify;
}
footer{
    background-color: rgb(152, 148, 148);
    color: black;
    text-align: left;
    padding: 10px;
    margin-top: 5px;
}