p{
    border: 5px;
}
#p1{
    color: blueviolet;
    background-color: blue;
    margin: 0px;
    padding: 0px;
}
#p2{
    color: #ffff00;
    background-color: chartreuse;
    margin: 5px;
    padding: 5px;
}
#p3{
    color: green;
    background-color: cornflowerblue;
    margin: 0px;
}
body{
    margin: 0px;
    padding: 20px;
}